* {
    font-family: 'Montserrat', sans-serif; 
}
.body-landing{
    margin: 0;
}
.menu{
    text-transform: uppercase;
    list-style: none;
    text-align: center;
    margin-top: 31.5px;
    margin-bottom: 31.5px;
}
.menu-item {
    display: inline;
    margin-right: 72px;
}
.menu-link {
   text-decoration: none;
   color:  #FF0000;
   font-weight: bold;
   font-size: 18px;
   line-height: 18px;
   letter-spacing: 2.7px;
}
.main-img{
width: 100%;
}
.title {
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3.3px;
    color: #373737;
    margin-top: 48px;
    margin-bottom: 38px;
}
.title-text {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    margin: 28px 67.5px;
    letter-spacing: 2.4px;
    color: #373737;
}
.btn {
    text-align: center;
    margin-top: 65px;
    margin-bottom: 82px;
}
.btn-link {
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    text-decoration: none;
    text-transform: uppercase;
   color: #FFFFFF;
   background-color: #FF0000;
   padding: 17px 42.5px;
   letter-spacing: 1.8px;
   border-radius: 4px;
}
.footer-text {
font-weight: bold;
font-size: 16px;
letter-spacing: 2.4px;
text-align: right;
color: #373737;
margin-right: 105px;
margin-bottom: 29px;
}